.button {
    width: 13rem;        
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    background: linear-gradient(90deg,red, black);
    color: white
}
